
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    font-family: 'Muli', sans-serif;
}

.wrapper {
    width: 70%;
    margin: 0 auto;
}

.sub-wrapper {
    width: 100%;
    margin: 0 auto;
}

/* modification to sub-wrapper for physical.html */
#sub-wrapper-physical {
    width: 70%;
    margin: 0 auto;
}

p {
    font-size: 16px;
    color: #424242;
    line-height: 30px;
}

/* large header */
h1 {
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 40px;
    color: #424242;
    font-family: 'Muli';
}


/* core steps */
h2 {
    font-size: 28px;
    font-weight: 600;
    padding: 0px 0px 10px 0px;
    color: #424242;
}

/* secondary steps */
h3 {
    font-size: 20px;
    font-weight: 700;
    padding: 0px 0px 10px 0px;
    color: #424242;
}

/* client */
h4 {
    font-size: 16px;
    color: #666666;
    font-family: 'Muli';
    font-weight: 500;
}

.quote {
  /*  font-family: 'Andada Pro', serif;*/
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
    line-height: 60px;
    margin: 80px 0px 100px 0px;
    color: #424242;
}

.hideme {
    opacity: 0;
}

/*---------------nav---------------*/
.topnav {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a:nth-child(1) {
    float: left;
    display: block;
    color: #424242;
    text-align: center;
    padding: 40px 0px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Muli', sans-serif;
    /*letter-spacing: 1px;*/
}

.topnav a:nth-child(n+2):nth-child(-n+5) {
    float: right;
    display: block;
    color: #666666;
    text-align: center;
    padding: 50px 16px;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    font-weight: 500;
}



/* Change the color of links on hover */
.topnav a:nth-child(n+2):nth-child(-n+5):hover {
    color: #f0ad41;
}

a:hover {
    text-decoration: none;
}

/*#about a {
    color: #424242;
    border-bottom: 1px dotted #f0ad41;
}

#about a:hover {
    color: #f0ad41;
}*/


/*----------------------body----------------------*/

img:not(.egg) {
  display: block;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.img-container{
    /*background-color: #f9f9f9;*/
    /*padding: 20px 20px 20px 20px;*/
    /*margin: 60px 0px 60px 0px;*/
    /*border-radius: 25px;*/
}

/* spacing between body text and image */
.body-text {
    margin-bottom: 40px;
}

#body {
    margin: 150px 0px 150px 0px;
    /*margin: 200px 0px 200px 0px;*/
}

#header {
    padding: 50px 0px 0px 0px;
    margin-bottom: 100px;
}

#solution {
    padding: 140px 0px 100px 0px;
    background-color: #f5f6f5;
    /*background-color: #f9f9f9;*/
    /*border-radius: 20px;*/
    /*margin: 20px 20px 20px 20px;*/
    margin: 150px 0px 150px 0px;
}

#role {
    background-color: #f9ac44;
    /*background-color: black;*/
    color: white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.interview-guide {
	color: #778899;
	padding: 30px 50px 20px 50px;
	background-color: #F6F7FB;
	font-size: 16px;
	font-family: 'Inconsolata', monospace;
}

.interview-guide p {
	color: #778899;
}

ol {
    padding-left: 20px;
    font-size: 16px;
    line-height: 30px;
}
ul {
    padding-left: 20px;
    font-size: 16px;
    line-height: 30px;
}

/*----------------------footer----------------------*/
footer {
	text-align: center;
	margin: 60px 0;
}
footer p {
	color: #333;
	font-size: 12px;
}

.foot {
	color: #333;
}

/*----------------------responsive----------------------*/
@media only screen and (max-width: 991px) {
	header p {
		width: 100%;
	}
	.work a img {
		margin: 2%;
		width: 96%;
	}
	.work2 a img {
		margin: 2%;
		width: 96%;
	}
}

/* For ipad and smaller adjust wrapper size*/
@media screen and (max-width: 768px) {
    /*hide all links, except for the first one ("Home"). Show the 
link that contains should open and close the topnav (.icon) */
    /*.topnav a:nth-child(n+2):nth-child(-n+5) {
        display: none;
    }*/
    .wrapper {
        width: 85%;
    }

}

/* For mobile devices, remove resume link */
@media screen and (max-width: 480px) {
    .topnav a:nth-child(n+2):nth-child(-n+2) {
        display: none;
    }
    .container-fluid, .row {
    padding:0px;
  }
   /* body {
      padding:0;
    }*/
    /*.mx-auto {
        width: 100%;
    }*/
}

@media screen and (min-width: 1440px) {
    .wrapper {
        width: 60%;
        margin: 0 auto;
    }
    .sub-wrapper {
        width: 60%;
        margin: 0 auto;
    }
    #sub-wrapper-physical {
        width: 60%;
        margin: 0 auto;
    }
}